<!DOCTYPE html>
<html>
<head>
  <title><%= @html_title %></title>
  <style type="text/css">
    body {
      font-family: Arial;
    }
    .message {
      padding: 5px;
      width: 330px;
      border: solid 1px black;
    }
    .message p {
      margin: 3px;
    }
    small {
      color: grey;
      font-size: 12px;
    }
  </style>
</head>
<body>
  <h1><%= @html_title %></h1>
  <small><em>refresh to see updates</em></small>

  <p>tcp port: <strong><%= @port %></strong></p>

  <%= yield %>

</body>
</html>
